<h4> All Roles :</h4>

<% @roles.each do | role | %>
    <%= role.name %>
    <%= link_to "Edit", edit_role_path(role) %>
    <%= link_to "Delete", role_path(role),
    method: :delete, data: {confirm: "Are you sure ?" } %>
    <br>
<% end %>